* {
  margin-right: 2px;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

@font-face {
  font-family: inter;
  src: url(../font/Inter-Light.woff2);
}

nav {
  height: 2rem;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  padding-top: 0.5rem;
}

li a {
  color: rgb(0, 0, 0);
}

.logo img {
  width: 100px;
  margin: 10px;
  margin-top: 1rem;
}

.back {
  width: 3rem;
  margin: 10px;

  margin-left: 2rem;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.landscapes_grid {
  display: grid;
}

.landscape {
  background-color: #ffc8c9;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.landscape h2,
.landscape a {
  text-align: left;
}

a {
  text-decoration: none;
}

.landscape a {
  text-decoration: none;
  color: white;
}

.forest {
  background-color: #00825e;
}

.bythewater {
  background-color: #032871;
}

.outintheopen {
  background-color: #e1ddc0;
}

.outintheopen a,
.city a {
  color: black;
}

.landscape img {
  display: none;
  width: 200px;
  padding: 0.5rem;
}

@media (min-width: 600px) {
  .landscapes_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* .landscape img {
    display: block;
  }

  */
}
