* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
  color: white;
}

@font-face {
  font-family: inter;
  src: url(../font/Inter-Light.woff2);
}

body {
  background-color: #00825e;
}
.foragetext {
  margin: 2rem;
  line-height: 1.7;
}
nav {
  height: 2rem;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  padding-top: 0.5rem;
}

li a {
  color: rgb(0, 0, 0);
}

.logo img {
  width: 100px;
  margin: 10px;
  margin-top: 1rem;
}

.back {
  width: 3rem;
  margin: 10px;
  margin-left: 0;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: white;
}

.back a {
  color: white;
  margin: 10px;
  margin-left: 0;
  font-size: 40px;
}

.explorebutton {
  background-color: #009c71;
  color: white;
  padding: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .foragetext {
    margin: 4rem;
  }

  h1 {
    text-align: left;
    align-self: start;
    margin-left: 4rem;
  }
}
