* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

@font-face {
  font-family: inter;
  src: url(../font/Inter-Light.woff2);
}

nav {
  height: 2rem;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  padding-top: 0.5rem;
}

li a {
  color: rgb(0, 0, 0);
}

.logo img {
  width: 100px;
  margin: 10px;
  margin-top: 1rem;
}

.back {
  width: 3rem;
  margin: 10px;

  margin-left: 2rem;
}

.option {
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.option h2,
.option a {
  text-align: left;
}

a {
  text-decoration: none;
}

.option a,
h2 {
  text-decoration: none;
  color: white;
}

.info {
  background-color: #00825e;
}

.game {
  background-color: #032871;
}

section {
  margin-top: 3rem;
}
